In [1991]:
import pandas as pd

In [1992]:
class Quiz:
    def __init__(self, nome_quiz, total_questoes):
        self.nome_quiz = nome_quiz
        self.total_questoes = total_questoes
        self.acertos = 0
        self.erros = 0
        self.duracao_total = 0
        self.user = ''
        self.tentativa = 0
        self.resultados = {}
        self.percentual_acertos = 0
        self.media_tempo_resposta = 0
        self.mensagem = ''

    
    # Função responsável por contabilizar os acertos, os erros e o tempo toda da partida avaliar_desempenho(self)
    def respostas (self, user='',  tentativa=0, resposta_correta=[], tempo_resposta=[]):

        self.tentativa = tentativa
        self.user = user
        self.duracao_total = sum(tempo_resposta)

        for resposta in resposta_correta:
            if resposta:
                self.acertos += 1
            else:
                self.erros += 1
        
        # Calculando desempenho
        self.media_tempo_resposta = self.duracao_total / self.total_questoes
        self.percentual_acertos   = (self.acertos / self.total_questoes) * 100

        # Avaliando o resultado do usuário
        if self.percentual_acertos >= 70 and self.media_tempo_resposta <= 20:
            mensagem = "APROVADO"
        else:
            mensagem = "REPROVADO"

        self.mensagem = mensagem
        

    def armazenando_dados (self):

        self.resultados[self.user,f"Tentativa {self.tentativa}"]= {
                'Quiz':                   self.nome_quiz,
                'Acertos':                self.acertos,
                'Erros':                  self.erros,
                'Acertos(%)':             f"{self.percentual_acertos} %",
                'Média tempo resposta':   f"{self.media_tempo_resposta} s",
                'Duração do quiz':        f"{(self.duracao_total/60):.2f} min",
                'Status':                 self.mensagem
            }
        
        data_resutados = pd.DataFrame(self.resultados).T

        self.acertos = 0
        self.erros = 0
        self.percentual_acertos = 0
        self.media_tempo_resposta = 0
        self.duracao_total = 0
        self.mensagem = 0

        return data_resutados

In [1993]:
# INPUT INICIAL
nome_quiz       = 'Exame - hemograma'
total_questoes  = 10

quiz = Quiz(nome_quiz,total_questoes)

# Analise de cada tentativa

In [1994]:
# Função responsável por  filtrar as informações do DataFrame
def analise_tentativa (user='', data={}, tentativa=0):

        # Filtrando o DataFrame
        data_filtrado =  data.loc[(data['User_ID'] == user) & (data['Tentativa'] == f'Tentativa_{tentativa}'), 'Respostas'].iloc[0]

        respostas = []
        tempo     = []

        for questao in range(total_questoes):
                        
                respostas.append(data_filtrado[questao][0])
                tempo.append(data_filtrado[questao][1])
                
        quiz.armazenando_dados()        
        quiz.respostas(user, tentativa, respostas, tempo)

# Consulta

In [1995]:
def consulta (df):
    # user = str(input('Digite o user_ID do usuário: '))
    user = 'User_1'
    tentativas = df.loc[(df['User_ID'] == user)]

    for vez in range(1, len(tentativas) + 1):
        analise_tentativa(user, df, vez)
    
    data_user = quiz.armazenando_dados().loc[user]
    
    #  Mostrando as informações coletadas sobre o usuário
    print(f" PROGRESSO DO USER: {user}")
    display(data_user)

# Gerando DataFrame teste

In [1996]:
import pandas as pd
import random

# Função para gerar tentativas aleatórias
def gerar_tentativa():
    tentativa = []
    for _ in range(10):  # 10 questões no quiz
        resultado = random.choice([True, False])  # Escolhe aleatoriamente se a resposta está correta ou não
        tempo = random.randint(10, 30)  # Tempo aleatório entre 10 e 30 segundos
        tentativa.append((resultado, tempo))
    return pd.Series(tentativa)

# Dicionário para armazenar as respostas dos usuários
respostas = {}

# Gerar 10 novos usuários com 4 tentativas diferentes cada
for i in range(1, 11):
    user_id = f'User_{i}'
    tentativas_usuario = {}
    for j in range(1, 5):
        nome_tentativa = f'Tentativa_{j}'
        tentativa = gerar_tentativa()
        tentativas_usuario[nome_tentativa] = tentativa
    respostas[user_id] = tentativas_usuario

# Criar DataFrame com os resultados das tentativas dos usuários
data = []
for user_id, tentativas_usuario in respostas.items():
    for tentativa, respostas_tentativa in tentativas_usuario.items():
        data.append([user_id, tentativa, respostas_tentativa])

# Criar DataFrame a partir dos dados coletados
df = pd.DataFrame(data, columns=['User_ID', 'Tentativa', 'Respostas'])

# Mostrar DataFrame
display(df.head(5))

  User_ID    Tentativa                                          Respostas
0  User_1  Tentativa_1  0    (False, 29)
1    (False, 26)
2     (True,...
1  User_1  Tentativa_2  0    (False, 17)
1     (True, 25)
2    (False,...
2  User_1  Tentativa_3  0    (False, 18)
1     (True, 30)
2     (True,...
3  User_1  Tentativa_4  0     (True, 13)
1    (False, 21)
2     (True,...
4  User_2  Tentativa_1  0    (False, 25)
1    (False, 28)
2    (False,...

# Testes

In [1997]:
consulta(df)

 PROGRESSO DO USER: User_1

,Quiz,Acertos,Erros,Acertos(%),Média tempo resposta,Duração do quiz,Status
Tentativa 1,Exame - hemograma,4,6,40.0 %,23.1 s,3.85 min,REPROVADO
Tentativa 2,Exame - hemograma,5,5,50.0 %,22.1 s,3.68 min,REPROVADO
Tentativa 3,Exame - hemograma,6,4,60.0 %,20.5 s,3.42 min,REPROVADO
Tentativa 4,Exame - hemograma,5,5,50.0 %,17.2 s,2.87 min,REPROVADO

In [1998]:
user ='User_1'
data_filtrado = df.loc[(df['User_ID'] == 'User_1') & (df['Tentativa'] == 'Tentativa_4'), 'Respostas'].iloc[0]
data_filtrado

0     (True, 13)
1    (False, 21)
2     (True, 15)
3    (False, 18)
4     (True, 26)
5     (True, 15)
6    (False, 20)
7    (False, 20)
8    (False, 14)
9     (True, 10)
dtype: object