In [43]:
import pandas as pd

# Classe Quiz

In [44]:
class Quiz:
    def __init__(self, nome_quiz, total_questoes):
        self.nome_quiz = nome_quiz
        self.total_questoes = total_questoes
        self.acertos = 0
        self.erros = 0
        self.duracao_total = 0
        self.user = ''
        self.tentativa = 0
        self.resultados = {}
        self.percentual_acertos = 0
        self.media_tempo_resposta = 0
        self.mensagem = ''

    
    # Função responsável por contabilizar os acertos, os erros e o tempo toda da partida avaliar_desempenho(self)
    def respostas (self, user='',  tentativa=0, resposta_correta=[], tempo_resposta=[]):

        self.tentativa = tentativa
        self.user = user
        self.duracao_total = sum(tempo_resposta)

        for resposta in resposta_correta:
            if resposta:
                self.acertos += 1
            else:
                self.erros += 1
        
        # Calculando desempenho
        self.media_tempo_resposta = self.duracao_total / self.total_questoes
        self.percentual_acertos   = (self.acertos / self.total_questoes) * 100

        # Avaliando o resultado do usuário
        if self.percentual_acertos >= 70 and self.media_tempo_resposta <= 20:
            mensagem = "APROVADO"
        else:
            mensagem = "REPROVADO"

        self.mensagem = mensagem
        

    def armazenando_dados (self):

        self.resultados[self.user,f"Tentativa {self.tentativa}"]= {
                'Quiz':                   self.nome_quiz,
                'Acertos':                self.acertos,
                'Erros':                  self.erros,
                'Acertos(%)':             f"{self.percentual_acertos} %",
                'Média tempo resposta':   f"{self.media_tempo_resposta} s",
                'Duração do quiz':        f"{(self.duracao_total/60):.2f} min",
                'Status':                 self.mensagem
            }
        
        data_resutados = pd.DataFrame(self.resultados).T

        self.acertos = 0
        self.erros = 0
        self.percentual_acertos = 0
        self.media_tempo_resposta = 0
        self.duracao_total = 0
        self.mensagem = 0

        return data_resutados

# Analise de cada tentativa

In [45]:
# Função responsável por  filtrar as informações do DataFrame
def analise_tentativa (user, data, tentativa):

        # Filtrando o DataFrame
        data_filtrado =  data.loc[(data['User_ID'] == user) & (data['Tentativa'] == f'Tentativa_{tentativa}'), 'Respostas'].iloc[0]

        respostas = []
        tempo     = []

        for questao in range(total_questoes):
                        
                respostas.append(data_filtrado[questao][0])
                tempo.append(data_filtrado[questao][1])
                
        quiz.armazenando_dados()        
        quiz.respostas(user, tentativa, respostas, tempo)

# Consulta

In [46]:
def consulta(user, df):
    
    tentativas = df.loc[(df['User_ID'] == user)]

    for vez in range(1, len(tentativas) + 1):
        analise_tentativa(user, df, vez)
    
    data_user = quiz.armazenando_dados().loc[user]
    
    #  Mostrando as informações coletadas sobre o usuário
    print(f" PROGRESSO DO USER: {user}")
    display(data_user)

# Quizzes disponiveis

In [47]:

quizzes = {
            'Q1': {'Nome': 'Exama - hemograma', 'Qtd': 10},
            'Q2': {'Nome': 'Exame - urina',     'Qtd': 10},
            'Q3': {'Nome': 'Exame - fezes',     'Qtd': 10}, 
        }

df_quizzes = pd.DataFrame(quizzes).T

# Gerando DataFrame

In [48]:
import random

# Função para gerar tentativas aleatórias
def gerar_tentativa():
    tentativa = []
    for _ in range(10):  # 10 questões no quiz
        resultado = random.choice([True, False])  # Escolhe aleatoriamente se a resposta está correta ou não
        tempo = random.randint(10, 30)  # Tempo aleatório entre 10 e 30 segundos
        tentativa.append((resultado, tempo))
    return pd.Series(tentativa)

# Dicionário para armazenar as respostas dos usuários
respostas = {}

# Gerar 10 novos usuários com 4 tentativas diferentes cada
for i in range(1, 11):
    user_id = f'User_{i}'
    tentativas_usuario = {}
    for j in range(1, 5):
        nome_tentativa = f'Tentativa_{j}'
        tentativa = gerar_tentativa()
        tentativas_usuario[nome_tentativa] = tentativa
    respostas[user_id] = tentativas_usuario

# Criar DataFrame com os resultados das tentativas dos usuários
data = []
for user_id, tentativas_usuario in respostas.items():
    for tentativa, respostas_tentativa in tentativas_usuario.items():
        data.append([user_id, tentativa, respostas_tentativa])

# Criar DataFrame a partir dos dados coletados
df = pd.DataFrame(data, columns=['User_ID', 'Tentativa', 'Respostas'])

# Entrada de dados

In [49]:

def entrada_dados_quiz ():
    # Informando qual é o quiz
    quiz_id = input('Digite o ID do quiz desejado: ')
    return quiz_id

def entrada_dados_consulta ():
    # Consultar o progresso do usuário
    user = input('Informe o ID do usuário: ')
    return user

# Menu

In [53]:
def mostrar_menu():
    print("------ MENU: Analise de desempenho ------\n")
    print(f"Quiz: {nome_quiz}")
    print("1. Consultar desempenho do usuário")
    print("2. Ver quizzes disponiveis")
    print("3. Ver DataFrame  com dados dos usuários")
    print("4. Sair\n")

def main():
    while True:
        mostrar_menu()
        opcao = input("Escolha uma opção: ")

        if opcao == '1':
            # Coletando dados
            user_id = entrada_dados_consulta()
            # Apresentados dados
            consulta(user_id, df)

        elif opcao == '2':
            print('QUIZZES DISPONIVEIS')
            display(df_quizzes)

        elif opcao == '3':
            print('DATAFRAME')
            display(df)

        elif opcao == '4':
            print("Saindo do jogo...")
            break
        else:
            print("Opção inválida. Escolha novamente.")

if __name__ == "__main__":
    # INPUT INICIAL
    quiz_id = entrada_dados_quiz()
    # Definindo o quiz a ser analisado
    nome_quiz = quizzes[quiz_id]['Nome']
    qtd       = quizzes[quiz_id]['Qtd']
    quiz      = Quiz(nome_quiz,qtd)

    quiz = Quiz(nome_quiz,qtd)
    main()

------ MENU: Analise de desempenho ------

Quiz: Exama - hemograma
1. Consultar desempenho do usuário
2. Ver quizzes disponiveis
3. Ver DataFrame  com dados dos usuários
4. Sair

QUIZZES DISPONIVEIS

                 Nome Qtd
Q1  Exama - hemograma  10
Q2      Exame - urina  10
Q3      Exame - fezes  10

------ MENU: Analise de desempenho ------

Quiz: Exama - hemograma
1. Consultar desempenho do usuário
2. Ver quizzes disponiveis
3. Ver DataFrame  com dados dos usuários
4. Sair

DATAFRAME

    User_ID    Tentativa                                          Respostas
0    User_1  Tentativa_1  0     (True, 19)
1    (False, 10)
2    (False,...
1    User_1  Tentativa_2  0     (True, 29)
1    (False, 28)
2    (False,...
2    User_1  Tentativa_3  0     (True, 14)
1    (False, 27)
2    (False,...
3    User_1  Tentativa_4  0    (False, 30)
1    (False, 22)
2    (False,...
4    User_2  Tentativa_1  0    (False, 14)
1    (False, 23)
2     (True,...
5    User_2  Tentativa_2  0    (False, 17)
1     (True, 13)
2     (True,...
6    User_2  Tentativa_3  0     (True, 20)
1    (False, 27)
2     (True,...
7    User_2  Tentativa_4  0    (False, 10)
1     (True, 20)
2     (True,...
8    User_3  Tentativa_1  0    (False, 23)
1     (True, 10)
2     (True,...
9    User_3  Tentativa_2  0     (True, 25)
1     (True, 25)
2    (False,...
10   User_3  Tentativa_3  0     (True, 20)
1     (True, 15)
2    (False,...
11   User_3  Tentativa_4  0    (False, 16)
1    (False, 12)
2    (False,...
12   User_4  Tentativa_1  0     (True, 22)
1     (True, 26)
2     (True,...
13   User_4  Tentativa_2  0    (False, 19)
1     (True, 21)
2    (False,...
14   User_4  Tentativa_3  0    (False, 17)
1    (False, 10)
2    (False,...
15   User_4  Tentativa_4  0     (True, 18)
1     (True, 12)
2     (True,...
16   User_5  Tentativa_1  0     (True, 20)
1     (True, 25)
2     (True,...
17   User_5  Tentativa_2  0    (False, 17)
1    (False, 14)
2     (True,...
18   User_5  Tentativa_3  0     (True, 23)
1    (False, 21)
2    (False,...
19   User_5  Tentativa_4  0    (False, 11)
1     (True, 18)
2     (True,...
20   User_6  Tentativa_1  0    (False, 13)
1     (True, 26)
2     (True,...
21   User_6  Tentativa_2  0    (False, 19)
1     (True, 26)
2    (False,...
22   User_6  Tentativa_3  0    (False, 16)
1     (True, 27)
2     (True,...
23   User_6  Tentativa_4  0     (True, 14)
1    (False, 14)
2     (True,...
24   User_7  Tentativa_1  0     (True, 15)
1     (True, 23)
2     (True,...
25   User_7  Tentativa_2  0    (False, 26)
1    (False, 13)
2    (False,...
26   User_7  Tentativa_3  0     (True, 17)
1     (True, 11)
2    (False,...
27   User_7  Tentativa_4  0     (True, 27)
1    (False, 14)
2     (True,...
28   User_8  Tentativa_1  0     (True, 14)
1     (True, 23)
2     (True,...
29   User_8  Tentativa_2  0    (False, 20)
1     (True, 28)
2     (True,...
30   User_8  Tentativa_3  0    (False, 29)
1     (True, 16)
2     (True,...
31   User_8  Tentativa_4  0    (False, 16)
1     (True, 27)
2     (True,...
32   User_9  Tentativa_1  0     (True, 13)
1     (True, 18)
2     (True,...
33   User_9  Tentativa_2  0     (True, 10)
1    (False, 14)
2    (False,...
34   User_9  Tentativa_3  0     (True, 18)
1    (False, 19)
2     (True,...
35   User_9  Tentativa_4  0     (True, 14)
1    (False, 16)
2    (False,...
36  User_10  Tentativa_1  0    (False, 21)
1     (True, 12)
2     (True,...
37  User_10  Tentativa_2  0    (False, 10)
1    (False, 13)
2    (False,...
38  User_10  Tentativa_3  0     (True, 26)
1     (True, 19)
2     (True,...
39  User_10  Tentativa_4  0    (False, 19)
1    (False, 22)
2     (True,...

------ MENU: Analise de desempenho ------

Quiz: Exama - hemograma
1. Consultar desempenho do usuário
2. Ver quizzes disponiveis
3. Ver DataFrame  com dados dos usuários
4. Sair

 PROGRESSO DO USER: User_9

,Quiz,Acertos,Erros,Acertos(%),Média tempo resposta,Duração do quiz,Status
Tentativa 1,Exama - hemograma,8,2,80.0 %,19.0 s,3.17 min,APROVADO
Tentativa 2,Exama - hemograma,4,6,40.0 %,21.1 s,3.52 min,REPROVADO
Tentativa 3,Exama - hemograma,6,4,60.0 %,18.0 s,3.00 min,REPROVADO
Tentativa 4,Exama - hemograma,4,6,40.0 %,17.4 s,2.90 min,REPROVADO

------ MENU: Analise de desempenho ------

Quiz: Exama - hemograma
1. Consultar desempenho do usuário
2. Ver quizzes disponiveis
3. Ver DataFrame  com dados dos usuários
4. Sair

Saindo do jogo...