# Gerando dados aleatórios para testes

## Modelo 1

In [ ]:
import pandas as pd 

# Simulação de respostas
respostas = {}

# Cada pandas.Series corresponda a uma tentativa de resposta do usuário

# Cada tupla está corelacionada a uma questão do quiz. 
# Dentro de cada tupla há:
        # [0] - O resultado da resposta do quiz, se o usuário acertou(True) ou errou (False)
        # [1] - O tempo, em segundos, que o usuário demorou pra resolver cada questão

tentativa1 = pd.Series([
                        (False, 15), (False, 20), (True, 18), (True, 12), (False, 22), 
                        (False, 16), (True, 14), (True, 13), (False, 25), (True, 17)
                        ], name='Quiz 1 - tentativa 1')
tentativa2 = pd.Series([
                        (True, 15), (False, 20), (True, 18), (True, 12), (False, 22), 
                        (True, 16), (True, 14), (True, 13), (False, 25), (True, 17)
                        ], name='Quiz 1 -  tentativa 2')
tentativa3 = pd.Series([
                        (False, 15), (True, 20), (False, 18), (False, 12), (True, 22), 
                        (False, 16), (False, 14), (False, 13), (True, 25), (False, 17)
                        ], name='Quiz 1 -  tentativa 3')
    

# Cada usuário terá seu user_id e suas próprias tentativas de resposta para as questões do Quiz 1
user_id = 'Carlos'

respostas[user_id] = {
        'Tentativa 1': tentativa1,
        'Tentativa 2': tentativa2,
        'Tentativa 3': tentativa3
        }

user_id2 = 'Maria'
respostas[user_id2] = {
        'Tentativa 1': tentativa1,
        'Tentativa 2': tentativa2,
        'Tentativa 3': tentativa3
        }

## Modelo 2 (chat-gpt)

In [2]:
import pandas as pd
import random

# Função para gerar tentativas aleatórias
def gerar_tentativa():
    tentativa = []
    for _ in range(10):  # 10 questões no quiz
        resultado = random.choice([True, False])  # Escolhe aleatoriamente se a resposta está correta ou não
        tempo = random.randint(10, 30)  # Tempo aleatório entre 10 e 30 segundos
        tentativa.append((resultado, tempo))
    return pd.Series(tentativa)

# Dicionário para armazenar as respostas dos usuários
respostas = {}

# Gerar 10 novos usuários com 4 tentativas diferentes cada
for i in range(1, 11):
    user_id = f'User_{i}'
    tentativas_usuario = {}
    for j in range(1, 5):
        nome_tentativa = f'Tentativa_{j}'
        tentativa = gerar_tentativa()
        tentativas_usuario[nome_tentativa] = tentativa
    respostas[user_id] = tentativas_usuario

# Criar DataFrame com os resultados das tentativas dos usuários
data = []
for user_id, tentativas_usuario in respostas.items():
    for tentativa, respostas_tentativa in tentativas_usuario.items():
        data.append([user_id, tentativa, respostas_tentativa])

# Criar DataFrame a partir dos dados coletados
df = pd.DataFrame(data, columns=['User_ID', 'Tentativa', 'Respostas'])

# Mostrar DataFrame
print(df)

    User_ID    Tentativa                                          Respostas
0    User_1  Tentativa_1  0    (False, 24)
1     (True, 12)
2    (False,...
1    User_1  Tentativa_2  0     (True, 15)
1     (True, 12)
2     (True,...
2    User_1  Tentativa_3  0     (True, 29)
1    (False, 25)
2     (True,...
3    User_1  Tentativa_4  0     (True, 17)
1     (True, 23)
2     (True,...
4    User_2  Tentativa_1  0    (False, 14)
1     (True, 17)
2     (True,...
5    User_2  Tentativa_2  0     (True, 24)
1     (True, 24)
2     (True,...
6    User_2  Tentativa_3  0     (True, 10)
1    (False, 20)
2    (False,...
7    User_2  Tentativa_4  0    (False, 14)
1     (True, 24)
2    (False,...
8    User_3  Tentativa_1  0    (False, 13)
1     (True, 12)
2    (False,...
9    User_3  Tentativa_2  0    (False, 13)
1     (True, 12)
2     (True,...
10   User_3  Tentativa_3  0     (True, 22)
1    (False, 17)
2     (True,...
11   User_3  Tentativa_4  0    (False, 10)
1     (True, 26)
2    (False,...
12   User_4  Tentativa_1  0    (False, 15)
1     (True, 26)
2    (False,...
13   User_4  Tentativa_2  0    (False, 20)
1    (False, 23)
2     (True,...
14   User_4  Tentativa_3  0    (False, 11)
1    (False, 13)
2     (True,...
15   User_4  Tentativa_4  0    (False, 20)
1     (True, 27)
2    (False,...
16   User_5  Tentativa_1  0     (True, 13)
1     (True, 15)
2     (True,...
17   User_5  Tentativa_2  0     (True, 28)
1     (True, 27)
2     (True,...
18   User_5  Tentativa_3  0     (True, 15)
1     (True, 13)
2    (False,...
19   User_5  Tentativa_4  0     (True, 16)
1    (False, 21)
2     (True,...
20   User_6  Tentativa_1  0    (False, 14)
1    (False, 13)
2    (False,...
21   User_6  Tentativa_2  0     (True, 13)
1     (True, 14)
2    (False,...
22   User_6  Tentativa_3  0     (True, 19)
1    (False, 27)
2    (False,...
23   User_6  Tentativa_4  0     (True, 20)
1    (False, 18)
2     (True,...
24   User_7  Tentativa_1  0     (True, 14)
1     (True, 12)
2    (False,...
25   User_7  Tentativa_2  0    (False, 17)
1    (False, 30)
2     (True,...
26   User_7  Tentativa_3  0    (False, 15)
1     (True, 21)
2     (True,...
27   User_7  Tentativa_4  0    (False, 18)
1    (False, 10)
2    (False,...
28   User_8  Tentativa_1  0     (True, 28)
1    (False, 14)
2    (False,...
29   User_8  Tentativa_2  0    (False, 17)
1     (True, 21)
2    (False,...
30   User_8  Tentativa_3  0     (True, 27)
1     (True, 28)
2     (True,...
31   User_8  Tentativa_4  0     (True, 23)
1     (True, 24)
2    (False,...
32   User_9  Tentativa_1  0    (False, 11)
1     (True, 16)
2    (False,...
33   User_9  Tentativa_2  0    (False, 26)
1    (False, 13)
2     (True,...
34   User_9  Tentativa_3  0    (False, 10)
1     (True, 19)
2    (False,...
35   User_9  Tentativa_4  0     (True, 28)
1    (False, 12)
2     (True,...
36  User_10  Tentativa_1  0     (True, 14)
1    (False, 16)
2    (False,...
37  User_10  Tentativa_2  0     (True, 15)
1    (False, 28)
2    (False,...
38  User_10  Tentativa_3  0     (True, 13)
1     (True, 21)
2     (True,...
39  User_10  Tentativa_4  0     (True, 27)
1    (False, 23)
2     (True,...

In [2]:
df.to_excel('dados_teste.xlsx')

In [6]:
# Acessar a tupla da terceira tentativa do User_2
tupla_terceira_tentativa_user_2 = df.loc[(df['User_ID'] == 'User_2') & (df['Tentativa'] == 'Tentativa_3'), 'Respostas'].iloc[0]

# Imprimir a tupla
print("Tupla da terceira tentativa do User_2:")
print(tupla_terceira_tentativa_user_2)

Tupla da terceira tentativa do User_2:
0     (True, 10)
1    (False, 20)
2    (False, 23)
3    (False, 12)
4    (False, 25)
5     (True, 20)
6    (False, 16)
7    (False, 23)
8    (False, 26)
9     (True, 18)
dtype: object